@import " bootstrap.css";
  @import url("//use.fontawesome.com/releases/v5.0.7/css/all.css");


  @font-face {
    font-family: 'PF DinDisplay Pro Medium';
    src: url('/fonts/PFDinDisplayProMediumRegular/PFDinDisplayProMediumRegular.eot');
    src: url('/fonts/PFDinDisplayProMediumRegular/PFDinDisplayProMediumRegular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/PFDinDisplayProMediumRegular/PFDinDisplayProMediumRegular.woff2') format('woff2'),
    url('/fonts/PFDinDisplayProMediumRegular/PFDinDisplayProMediumRegular.woff') format('woff'),
    url('/fonts/PFDinDisplayProMediumRegular/PFDinDisplayProMediumRegular.ttf') format('truetype'),
    url('/fonts/PFDinDisplayProMediumRegular/PFDinDisplayProMediumRegular.svg#PF DinDisplay Pro Medium Regular') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-04D9;
  }

  @font-face {
    font-family: 'PF DinDisplay Pro Reg';
    src: url('/fonts/PDFinDisplayProReg/PDFinDisplayProRegular.eot');
    src: url('/fonts/PDFinDisplayProReg/PDFinDisplayProRegular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/PDFinDisplayProReg/PDFinDisplayProRegular.woff2') format('woff2'),
    url('/fonts/PDFinDisplayProReg/PDFinDisplayProRegular.woff') format('woff'),
    url('/fonts/PDFinDisplayProReg/PDFinDisplayProRegular.svg#o Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-04D9;
  }

  @font-face {
    font-family: 'PDFinTextcompproMedium';
    src: url('/fonts/PDFinTextcompproMedium/PDFinTextcompproMedium.eot');
    src: url('/fonts/PDFinTextcompproMedium/PDFinTextcompproMedium.eot?#iefix') format('embedded-opentype'),
    url('/fonts/PDFinTextcompproMedium/PDFinTextcompproMedium.woff2') format('woff2'),
    url('/fonts/PDFinTextcompproMedium/PDFinTextcompproMedium.woff') format('woff'),
    url('/fonts/PDFinTextcompproMedium/PDFinTextcompproMedium.ttf') format('truetype'),
    url('/fonts/PDFinTextcompproMedium/PDFinTextcompproMedium.svg#o Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-04D9;
  }

  @font-face {
    font-family: 'PFDinTextCompproRegular';
    src: url('/fonts/PFDinTextCompproRegular/PFDinTextCompproRegular.eot');
    src: url('/fonts/PFDinTextCompproRegular/PFDinTextCompproRegular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/PFDinTextCompproRegular/PFDinTextCompproRegular.woff2') format('woff2'),
    url('/fonts/PFDinTextCompproRegular/PFDinTextCompproRegular.woff') format('woff'),
    url('/fonts/PFDinTextCompproRegular/PFDinTextCompproRegular.ttf') format('truetype'),
    url('/fonts/PFDinTextCompproRegular/PFDinTextCompproRegular.svg#o Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-FB05;
  }

  @font-face {
    font-family: 'PDFinDisplayProBold';
    src: url('/fonts/PDFinDisplayProBold/PDFinDisplayProBoldBold.eot');
    src: url('/fonts/PDFinDisplayProBold/PDFinDisplayProBoldBold.eot?#iefix') format('embedded-opentype'),
    url('/fonts/PDFinDisplayProBold/PDFinDisplayProBoldBold.woff2') format('woff2'),
    url('/fonts/PDFinDisplayProBold/PDFinDisplayProBoldBold.woff') format('woff'),
    url('/fonts/PDFinDisplayProBold/PDFinDisplayProBoldBold.ttf') format('truetype'),
    url('/fonts/PDFinDisplayProBold/PDFinDisplayProBoldBold.svg#o Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-04D9;
  }



  .header{
    background-color: #652B15;
    .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
      color: #FAF4E8;
    }
    nav{
      width: 100%;
    }
    &__right {
      color: #FAF4E8;
      text-decoration: none;
      max-width: 25%;
      width: 100%;
      font-weight: bold;
      &:hover{
        color: pink;
        text-decoration: none;
      }
      &__cart {
        font-size: 30px;
      }
      &__products{
        border-radius: 40px;
        background-color: deeppink;
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        min-width: 22px;
        height: 22px;
        text-align: center;
        left: 30px;
        top: 5px;
      }
      &__price{
      word-break: break-word;
      }
    }
  }

@media (max-width:991px) {
  .header__right{
    max-width: 75%;
    top: 5px;
    left: 40%;
    position: absolute;
  }
}
@media (min-width:990px) {

}